<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>

    <form action="/mainstart" method="POST" enctype="multipart/form-data">
        <table class="tablaform">
               <tr>
                   <td>PE <input type="text" name="precio_banda_post_form" size="4" value="1000"></td>
                   <td>Niveles <select name="niveles_post_form" style="width: 50px;"><option value="5" selected>5</option><option value="7">7</option></select></td>
                   <td>SL<select name="sloption_post_form" style="width: 70px;"><option value="1" selected>%</option><option value="2">Valor</option></select> <input type="text" name="sl_post_form" value="10" size="4"></td>
                   <td>CP <input type="text" name="current_price_post_form" value="" size="4"></td>
                   <td><button type="submit">Simular</button></td>
               </tr>
        </table>  
    </form>
    

    <div id="datos">
        <table>
            <tbody>
                <tr>
                    <td>
                        <table class="tablafija"><!--MAIN TABLE-->
                        <tbody>
                           <tr>
                               <td>P. Actual</td>
                               <td><span class="current_price"></span></td>
                               <td>Contador</td>
                               <td><span class="contador"></span></td>
                           </tr>
                           <tr>
                               <td>PE</td>
                               <td><span class="precio_banda"></span></td>
                               <td>Niveles</td>
                               <td><span class="input_niveles"></span></td>
                           </tr>
                           <tr>
                               <td>Po1_valor</td>
                               <td><span class="Po1_valor"></span><span id="Po1_valor"></span></td>
                               <td>% SL</td>
                               <td><span class="percentsl"></span></td>
                           </tr>
                           <tr>
                               <td>step1_valor</td>
                               <td><span class="step1_valor"></span></td>
                               <td>-</td>
                               <td>-</td>
                           </tr>
                           <tr>
                               <td>Po2_valor</td>
                               <td><span class="Po2_valor"></span></td>
                               <td>-</td>
                               <td>-</td>
                           </tr>
                           <tr>
                               <td>step2_valor</td>
                               <td><span class="step2_valor"></span></td>
                               <td>Qty Pos Tot</td>
                               <td><span class="Qty_PosicionTotal"></span></td>
                           </tr>
                           <tr>
                               <td>Po3_valor</td>
                               <td><span class="Po3_valor"></span></td>
                               <td>-</td>
                               <td><span class=""></span></td>
                           </tr>
                           <tr>
                               <td>step3_valor</td>
                               <td><span class="step3_valor"></span></td>
                               <td>-</td>
                               <td><span class=""></span></td>
                           </tr>
                           <tr>
                               <td>Po4_valor</td>
                               <td><span class="Po4_valor"></span></td>
                               <td>-</td>
                               <td><span class=""></span></td>
                           </tr>
                           <tr>
                               <td>step4_valor</td>
                               <td><span class="step4_valor"></span></td>
                               <td>-</td>
                               <td><span class=""></span></td>
                           </tr>
                           <tr>
                               <td>Po5_valor</td>
                               <td><span class="Po5_valor"></span></td>
                               <td>-</td>
                               <td><span class=""></span></td>
                           </tr>
                           <tr>
                               <td>step5_valor</td>
                               <td><span class="step5_valor"></span></td>
                               <td>-</td>
                               <td><span class=""></span></td>
                           </tr>
                           <tr>
                               <td>Po6_valor</td>
                               <td><span class="Po6_valor"></span></td>
                               <td>-</td>
                               <td><span class=""></span></td>
                           </tr>
                           <tr>
                               <td>step6_valor</td>
                               <td><span class="step6_valor"></span></td>
                               <td>-</td>
                               <td><span class=""></span></td>
                           </tr>
                           <tr>
                               <td>Po7_valor</td>
                               <td><span class="Po7_valor"></span></td>
                               <td>-</td>
                               <td><span class=""></span></td>
                           </tr>
                           <tr>
                               <td>Lim Inf</td>
                               <td><span class="limite_inferior"></span></td>
                               <td>-</td>
                               <td><span class=""></span></td>
                           </tr>
                       </tbody>
                        </table>
                    </td>
                    <td style="vertical-align: top;">
                        <table class="tablafija"><!--TABLA DE MAT EXEL-->
                            <tbody>
                                <tr>
                                  <td></td>       
                                  <td>Recorrido %</td>
                                  <td>TP esperado</td>
                                  <td>Qty USDT</td>
                                  <td>Qty Var</td>
                                  <td>T4</td>
                                  <td>T5</td>
                                  <td>T6</td>
                                </tr>
                                <tr>
                                  <td>Po1</td>
                                  <td><span class="recorrido_perc1"></span></td>
                                  <td><span class="PF_esperado1"></span></td>
                                  <td><span class="Qty_USDT_SubPosicion"></span></td>
                                  <td><span class="Qty_mVar1"></span></td>
                                  <td><span class="T4_valorperdida"></span></td> 
                                  <td><span class="T5_valorperdida"></span></td>       
                                  <td><span class="T6_valorperdida"></span></td>
                                </tr>
                                <tr>
                                  <td>Po2</td>
                                  <td><span class="recorrido_perc2"></span></td>
                                  <td><span class="PF_esperado2"></span></td>
                                  <td><span class="Qty_USDT_SubPosicion"></span></td>
                                  <td><span class="Qty_mVar2"></span></td>
                                  <td><span class="T4_percperdida"></span></td> 
                                  <td><span class="T5_percperdida"></span></td>       
                                  <td><span class="T6_percperdida"></span></td>
                                </tr>
                                <tr>
                                  <td>Po3</td>
                                  <td><span class="recorrido_perc3"></span></td>
                                  <td><span class="PF_esperado3"></span></td>
                                  <td><span class="Qty_USDT_SubPosicion"></span></td>
                                  <td><span class="Qty_mVar3"></span></td>
                                  <td><span class="T4_MaxUSDTQty"></span></td> 
                                  <td><span class="T5_MaxUSDTQty"></span></td>       
                                  <td><span class="T6_MaxUSDTQty"></span></td>
                                </tr>
                                <tr>
                                  <td>Po4</td>
                                  <td><span class="recorrido_perc4"></span></td>
                                  <td><span class="PF_esperado4"></span></td>
                                  <td><span class="Qty_USDT_SubPosicion"></span></td>
                                  <td><span class="Qty_mVar4"></span></td>
                                  <td colspan="3" rowspan="5"></td>
                                </tr>
                                <tr>
                                  <td>Po5</td>
                                  <td><span class="recorrido_perc5"></span></td>
                                  <td><span class="PF_esperado5"></span></td>
                                  <td><span class="Qty_USDT_SubPosicion"></span></td>
                                  <td><span class="Qty_mVar5"></span></td>
                                </tr>
                                <tr>
                                  <td>Po6</td>
                                  <td><span class="recorrido_perc6"></span></td>
                                  <td><span class="PF_esperado6"></span></td>
                                  <td><span class="Qty_USDT_SubPosicion"></span></td>
                                  <td><span class="Qty_mVar6"></span></td>
                                </tr>
                                <tr>
                                  <td>Po7</td>
                                  <td><span class="recorrido_perc7"></span></td>
                                  <td><span class="PF_esperado7"></span></td>
                                  <td><span class="Qty_USDT_SubPosicion"></span></td>
                                  <td><span class="Qty_mVar7"></span></td>
                                </tr>
                                <tr>
                                  <td></td>
                                  <td><span class="sum_recorrrido_perc"></span></td>
                                  <td><span class="sum_PF_esperado"></span></td>
                                  <td><span class="sum_Qty_USDT_SubPosicion"></span></td>
                                  <td><span class="sum_Qty_mVar"></span></td>
                                </tr>
                        </tbody>
                        </table>
                    </td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>
                        <table class="tablafija">
                            <tbody>
                            <tr>
                              <td colspan="5">N1</td>
                              <td>0</td>
                            </tr>
                            <tr>  
                              <td>SL (lp)</td>
                              <td><span class="precio_banda"></span></td>
                              <td>SL (rt)</td>
                              <td><span class="SL_Pos1"></span></td>
                              <td>Estado</td>
                              <td><span class="control_pos1"></span></td>
                            </tr>
                            <tr>
                              <td>Po1</td>
                              <td><span class="Po1_valor"></span></td> 
                              <td>PE</td>
                              <td><span class="PE_Pos1"></span></td>
                              <td>Hits</td>
                              <td><span class="cont_hits1"></span></td>
                            </tr>
                            <tr>
                              <td>TP(lp)</td>
                              <td><span class="step1_valor"></span></td>
                              <td>TP (rt)</td>
                              <td><span class="TP_Pos1"></span></td>
                              <td>Est TP</td>
                              <td><span class="control_TP1"></span></td>
                            </tr>
                            <tr>
                              <td>Val Puro</td>
                              <td><span class="ValorPuro_Pos1"></span></td>
                              <td>QtyUSDT (rt)</td>
                              <td><span class="rt_Qty_USDT_SubPosicion"></span></td>
                              <td>QtyRec</td>
                              <td><span class="Qty_mVar1_rec"></span></td>
                            </tr>
                            <tr>
                              <td>V SubSL(lp)</td>
                              <td><span class="valor_SubSL1"></span></td>
                              <td>Balance</td>
                              <td>-</td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>% SubSL(lp)</td>
                              <td><span class="perc_SubSL1"></span></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                          </tbody>
                          </table>
                    </td>        
                    <td>2</td>
                    <td>3</td>
                </tr>
            </tbody>

        </table>
        
    </div>
    <div id="tables-container"></div>

    <script>
        function actualizarDatos() {
            $.getJSON('/datos', function(data) { //Aca solo deben ir los datos que se actualizan constantemente con el socket.
                $('.current_price').text(data.Cprecio);
                $('.precio_banda').text(data.precio_banda);  
                $('.contador').text(data.contador);
                $('.limite_inferior').text(data.limite_inferior);      
                $('.Po1_valor').text(data.Po1_valor);     
                $('.Po2_valor').text(data.Po2_valor);
                $('.Po3_valor').text(data.Po3_valor);
                $('.Po4_valor').text(data.Po4_valor);
                $('.Po5_valor').text(data.Po5_valor);
                $('.Po6_valor').text(data.Po6_valor);
                $('.Po7_valor').text(data.Po7_valor); 
                $('.step1_valor').text(data.step1_valor);
                $('.step2_valor').text(data.step2_valor); 
                $('.step3_valor').text(data.step3_valor); 
                $('.step4_valor').text(data.step4_valor); 
                $('.step5_valor').text(data.step5_valor); 
                $('.step6_valor').text(data.step6_valor);  
                $('.input_niveles').text(data.input_niveles);
                $('.percentsl').text(data.percentsl);
                $('.recorrido_perc1').text(data.recorrido_perc1);
                $('.recorrido_perc2').text(data.recorrido_perc2);
                $('.recorrido_perc3').text(data.recorrido_perc3);
                $('.recorrido_perc4').text(data.recorrido_perc4);
                $('.recorrido_perc5').text(data.recorrido_perc5);
                $('.recorrido_perc6').text(data.recorrido_perc6);
                $('.recorrido_perc7').text(data.recorrido_perc7);
                $('.sum_recorrrido_perc').text(data.sum_recorrrido_perc);
                $('.Qty_PosicionTotal').text(data.Qty_PosicionTotal);
                $('.PF_esperado1').text(data.PF_esperado1);
                $('.PF_esperado2').text(data.PF_esperado2);
                $('.PF_esperado3').text(data.PF_esperado3);
                $('.PF_esperado4').text(data.PF_esperado4);
                $('.PF_esperado5').text(data.PF_esperado5);
                $('.PF_esperado6').text(data.PF_esperado6);
                $('.PF_esperado7').text(data.PF_esperado7);
                $('.sum_PF_esperado').text(data.sum_PF_esperado);
                $('.Qty_USDT_SubPosicion').text(data.Qty_USDT_SubPosicion);
                $('.sum_Qty_USDT_SubPosicion').text(data.sum_Qty_USDT_SubPosicion);
                $('.Qty_mVar1').text(data.Qty_mVar1);
                $('.Qty_mVar2').text(data.Qty_mVar2);
                $('.Qty_mVar3').text(data.Qty_mVar3);
                $('.Qty_mVar4').text(data.Qty_mVar4);
                $('.Qty_mVar5').text(data.Qty_mVar5);
                $('.Qty_mVar6').text(data.Qty_mVar6);
                $('.Qty_mVar7').text(data.Qty_mVar7);
                $('.sum_Qty_mVar').text(data.sum_Qty_mVar);
                $('.perc_SubSL1').text(data.perc_SubSL1);
                $('.valor_SubSL1').text(data.valor_SubSL1);
                $('.T4_valorperdida').text(data.T4_valorperdida);
                $('.T5_valorperdida').text(data.T5_valorperdida);
                $('.T6_valorperdida').text(data.T6_valorperdida);
                $('.T4_percperdida').text(data.T4_percperdida);
                $('.T5_percperdida').text(data.T5_percperdida);
                $('.T6_percperdida').text(data.T6_percperdida);
                $('.T4_MaxUSDTQty').text(data.T4_MaxUSDTQty);
                $('.T5_MaxUSDTQty').text(data.T5_MaxUSDTQty);
                $('.T6_MaxUSDTQty').text(data.T6_MaxUSDTQty);
                $('.control_pos1').text(data.control_pos1);
                $('.control_TP1').text(data.control_TP1);
                $('.PE_Pos1').text(data.PE_Pos1);
                $('.TP_Pos1').text(data.TP_Pos1);
                $('.SL_Pos1').text(data.SL_Pos1);
                $('.rt_Qty_USDT_SubPosicion').text(data.rt_Qty_USDT_SubPosicion);
                $('.ValorPuro_Pos1').text(data.ValorPuro_Pos1);
                $('.Qty_mVar1_rec').text(data.Qty_mVar1_rec);
                $('.balance_pos1').text(data.balance_pos1);
                $('.cont_hits1').text(data.cont_hits1);
                
                })
        }           
        setInterval(actualizarDatos, 200);
    </script>

<div id="tableContainer"></div>

<script>
        const csvURL = '/static/registro_posiciones.csv';

        function cargarCSV() {
        fetch(csvURL + '?_=' + new Date().getTime()) // Evita caché
            .then(response => response.text())
            .then(csvData => {
                Papa.parse(csvData, {
                    header: false,
                    skipEmptyLines: true,
                    complete: function(results) {
                        const data = results.data;
                        const tableContainer = document.getElementById("tableContainer");

                        // Limpiar el contenedor antes de volver a cargar los datos
                        tableContainer.innerHTML = '';

                        // Iterar sobre cada fila del CSV y generar una tabla por fila
                        data.forEach(row => {
                            const table = document.createElement("table");

                            // Verificar el valor de row[1] y cambiar la tabla según sea Po1 o SL1
                            if (row[1] === 'Po1') {
                                table.innerHTML = `
                                    <tbody>
                                        <tr>
                                            <td>ID</td>
                                            <td>Type</td>
                                            <td>SL</td>
                                            <td>PE</td>
                                            <td>TP</td>
                                            <td>Qty$</td>
                                            <td>QtyMVar</td>
                                            <td>QtyRec</td>
                                            <td>QtyTot</td>
                                            <td>Hits</td>
                                            <td>Bal Pos1</td>
                                        </tr>
                                        <tr>
                                            <td>${row[0]}</td>
                                            <td>${row[1]}</td>
                                            <td>${row[2]}</td>
                                            <td>${row[3]}</td>
                                            <td>${row[4]}</td>
                                            <td>${row[5]}</td>
                                            <td>${row[6]}</td>
                                            <td>${row[7]}</td>
                                            <td>${row[8]}</td>
                                            <td>${row[9]}</td>
                                            <td>${row[10]}</td>
                                        </tr>
                                    </tbody>
                                `;
                            } else if (row[1] === 'SL1') {
                                table.innerHTML = `
                                    <tbody style="background-color: lightblue;">
                                        <tr>
                                            <td>ID</td>
                                            <td>Type</td>
                                            <td>PE</td>
                                            <td>PnL Acum</td>
                                            <td>Pnl</td>
                                            <td>QtyMVar</td>
                                            <td>QtyRec</td>
                                            <td>QtyTot</td>
                                            <td>Hit N</td>
                                            <td>Bal Pos1</td>
                                        </tr>
                                        <tr>
                                            <td>${row[0]}</td>
                                            <td>${row[1]}</td>
                                            <td>${row[2]}</td>
                                            <td>${row[3]}</td>
                                            <td>${row[4]}</td>
                                            <td>${row[5]}</td>
                                            <td>${row[6]}</td>
                                            <td>${row[7]}</td>
                                            <td>${row[8]}</td>
                                            <td>${row[9]}</td>
                                        </tr>
                                    </tbody>
                                `;
                            } else {
                                // Tabla para otros tipos si es necesario
                                table.innerHTML = `
                                    <tbody style="background-color: lightgreen;">
                                        <tr>
                                            <td>ID</td>
                                            <td>Type</td>
                                            <td>PE</td>
                                            <td>QtyTake</td>
                                            <td>Pnl</td>
                                            <td>Bal Pos1</td>

                                        </tr>
                                        <tr>
                                            <td>${row[0]}</td>
                                            <td>${row[1]}</td>
                                            <td>${row[2]}</td>
                                            <td>${row[3]}</td>
                                            <td>${row[4]}</td>
                                            <td>${row[5]}</td>
                                        </tr>
                                    </tbody>
                                `;
                            }
                            
                            // Agregar la tabla al contenedor
                            tableContainer.appendChild(table);
                        });
                    }
                });
            })
            .catch(error => console.error('Error al cargar el archivo CSV:', error));
    }

    // Llamar a la función al cargar la página y actualizar cada segundo
    document.addEventListener('DOMContentLoaded', cargarCSV);
    setInterval(cargarCSV, 1000);
</script>


</body>
</html>
