<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>

    <form action="/mainstart" method="POST" enctype="multipart/form-data">
        <table class="tablaform">
               <tr>
                   <td>PE <input type="text" name="precio_banda_post_form" value="" size="4"></td>
                   <td>Niveles <select name="niveles_post_form" style="width: 50px;"><option value="5" selected>5</option><option value="7">7</option></select></td>
                   <td>SL<select name="sloption_post_form" style="width: 70px;"><option value="1" selected>%</option><option value="2">Valor</option></select> <input type="text" name="sl_post_form" value="" size="4"></td>
                   <td><button type="submit">Simular Valores</button></td>
               </tr>
        </table>  
    </form>
    

    <div id="datos">
        <table>
            <tbody>
                <tr>
                    <td>
                        <table class="tablafija"><!--MAIN TABLE-->
                        <tbody>
                           <tr>
                               <td>P. Actual</td>
                               <td><span id="current_price"></span></td>
                               <td>Contador</td>
                               <td><span id="contador"></span></td>
                           </tr>
                           <tr>
                               <td>PE</td>
                               <td><span id="precio_banda"></span></td>
                               <td>Niveles</td>
                               <td><span id="input_niveles"></span></td>
                           </tr>
                           <tr>
                               <td>Po1_valor</td>
                               <td><span id="Po1_valor"></span><span id="Po1_valor"></span></td>
                               <td>% SL</td>
                               <td><span id="percentsl"></span></td>
                           </tr>
                           <tr>
                               <td>step1_valor</td>
                               <td><span id="step1_valor"></span></td>
                               <td>% SubSL</td>
                               <td><span id="perc_SubSL"></span></td>
                           </tr>
                           <tr>
                               <td>Po2_valor</td>
                               <td><span id="Po2_valor"></span></td>
                               <td>Val SubSL</td>
                               <td><span id="valor_SubSL"></span></td>
                           </tr>
                           <tr>
                               <td>step2_valor</td>
                               <td><span id="step2_valor"></span></td>
                               <td>Qty Pos Tot</td>
                               <td><span id="Qty_PosicionTotal"></span></td>
                           </tr>
                           <tr>
                               <td>Po3_valor</td>
                               <td><span id="Po3_valor"></span></td>
                               <td>-</td>
                               <td><span id=""></span></td>
                           </tr>
                           <tr>
                               <td>step3_valor</td>
                               <td><span id="step3_valor"></span></td>
                               <td>-</td>
                               <td><span id=""></span></td>
                           </tr>
                           <tr>
                               <td>Po4_valor</td>
                               <td><span id="Po4_valor"></span></td>
                               <td>-</td>
                               <td><span id=""></span></td>
                           </tr>
                           <tr>
                               <td>step4_valor</td>
                               <td><span id="step4_valor"></span></td>
                               <td>-</td>
                               <td><span id=""></span></td>
                           </tr>
                           <tr>
                               <td>Po5_valor</td>
                               <td><span id="Po5_valor"></span></td>
                               <td>-</td>
                               <td><span id=""></span></td>
                           </tr>
                           <tr>
                               <td>step5_valor</td>
                               <td><span id="step5_valor"></span></td>
                               <td>-</td>
                               <td><span id=""></span></td>
                           </tr>
                           <tr>
                               <td>Po6_valor</td>
                               <td><span id="Po6_valor"></span></td>
                               <td>-</td>
                               <td><span id=""></span></td>
                           </tr>
                           <tr>
                               <td>step6_valor</td>
                               <td><span id="step6_valor"></span></td>
                               <td>-</td>
                               <td><span id=""></span></td>
                           </tr>
                           <tr>
                               <td>Po7_valor</td>
                               <td><span id="Po7_valor"></span></td>
                               <td>-</td>
                               <td><span id=""></span></td>
                           </tr>
                           <tr>
                               <td>Lim Inf</td>
                               <td><span id="limite_inferior"></span></td>
                               <td>-</td>
                               <td><span id=""></span></td>
                           </tr>
                       </tbody>
                        </table>
                    </td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>
                        <table class="tablafija"><!--TABLA DE MAT EXEL-->
                        <tbody>
                            <tr>
                              <td></td>       
                              <td>Recorrido %</td>
                              <td>TP esperado</td>
                              <td>Qty USDT</td>
                              <td>Qty Var</td>
                              <td>T4</td>
                              <td>T5</td>
                              <td>T6</td>
                            </tr>
                            <tr>
                              <td>Po1</td>
                              <td><span id="recorrido_perc1"></span></td>
                              <td><span id="PF_esperado1"></span></td>
                              <td><span id="Qty_USDT_SubPosicion"></span></td>
                              <td><span id="Qty_mVar1"></span></td>
                              <td><span id="T4_valorperdida"></span></td> 
                              <td><span id="T5_valorperdida"></span></td>       
                              <td><span id="T6_valorperdida"></span></td>
                            </tr>
                            <tr>
                              <td>Po2</td>
                              <td><span id="recorrido_perc2"></span></td>
                              <td><span id="PF_esperado2"></span></td>
                              <td></td>
                              <td><span id="Qty_mVar2"></span></td>
                              <td><span id="T4_percperdida"></span></td> 
                              <td><span id="T5_percperdida"></span></td>       
                              <td><span id="T6_percperdida"></span></td>
                            </tr>
                            <tr>
                              <td>Po3</td>
                              <td><span id="recorrido_perc3"></span></td>
                              <td><span id="PF_esperado3"></span></td>
                              <td></td>
                              <td><span id="Qty_mVar3"></span></td>
                              <td><span id="T4_MaxUSDTQty"></span></td> 
                              <td><span id="T5_MaxUSDTQty"></span></td>       
                              <td><span id="T6_MaxUSDTQty"></span></td>
                            </tr>
                            <tr>
                              <td>Po4</td>
                              <td><span id="recorrido_perc4"></span></td>
                              <td><span id="PF_esperado4"></span></td>
                              <td></td>
                              <td><span id="Qty_mVar4"></span></td>
                              <td colspan="3" rowspan="5"></td>
                            </tr>
                            <tr>
                              <td>Po5</td>
                              <td><span id="recorrido_perc5"></span></td>
                              <td><span id="PF_esperado5"></span></td>
                              <td></td>
                              <td><span id="Qty_mVar5"></span></td>
                            </tr>
                            <tr>
                              <td>Po6</td>
                              <td><span id="recorrido_perc6"></span></td>
                              <td><span id="PF_esperado6"></span></td>
                              <td></td>
                              <td><span id="Qty_mVar6"></span></td>
                            </tr>
                            <tr>
                              <td>Po7</td>
                              <td><span id="recorrido_perc7"></span></td>
                              <td><span id="PF_esperado7"></span></td>
                              <td></td>
                              <td><span id="Qty_mVar7"></span></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td><span id="sum_recorrrido_perc"></span></td>
                              <td><span id="sum_PF_esperado"></span></td>
                              <td><span id="sum_Qty_USDT_SubPosicion"></span></td>
                              <td><span id="sum_Qty_mVar"></span></td>
                            </tr>
                          </tbody></table>
                    </td>        
                    <td>2</td>
                    <td>3</td>
                </tr>
            </tbody>

        </table>
        
    </div>
    <div id="tables-container"></div>

    <script>
        function actualizarDatos() {
            $.getJSON('/datos', function(data) { //Aca solo deben ir los datos que se actualizan constantemente con el socket.
                $('#current_price').text(data.Cprecio);
                $('#precio_banda').text(data.precio_banda);  
                $('#contador').text(data.contador);
                $('#limite_inferior').text(data.limite_inferior);      
                $('#Po1_valor').text(data.Po1_valor);     
                $('#Po2_valor').text(data.Po2_valor);
                $('#Po3_valor').text(data.Po3_valor);
                $('#Po4_valor').text(data.Po4_valor);
                $('#Po5_valor').text(data.Po5_valor);
                $('#Po6_valor').text(data.Po6_valor);
                $('#Po7_valor').text(data.Po7_valor); 
                $('#step1_valor').text(data.step1_valor);
                $('#step2_valor').text(data.step2_valor); 
                $('#step3_valor').text(data.step3_valor); 
                $('#step4_valor').text(data.step4_valor); 
                $('#step5_valor').text(data.step5_valor); 
                $('#step6_valor').text(data.step6_valor);  
                $('#input_niveles').text(data.input_niveles);
                $('#percentsl').text(data.percentsl);
                $('#recorrido_perc1').text(data.recorrido_perc1);
                $('#recorrido_perc2').text(data.recorrido_perc2);
                $('#recorrido_perc3').text(data.recorrido_perc3);
                $('#recorrido_perc4').text(data.recorrido_perc4);
                $('#recorrido_perc5').text(data.recorrido_perc5);
                $('#recorrido_perc6').text(data.recorrido_perc6);
                $('#recorrido_perc7').text(data.recorrido_perc7);
                $('#sum_recorrrido_perc').text(data.sum_recorrrido_perc);
                $('#Qty_PosicionTotal').text(data.Qty_PosicionTotal);
                $('#PF_esperado1').text(data.PF_esperado1);
                $('#PF_esperado2').text(data.PF_esperado2);
                $('#PF_esperado3').text(data.PF_esperado3);
                $('#PF_esperado4').text(data.PF_esperado4);
                $('#PF_esperado5').text(data.PF_esperado5);
                $('#PF_esperado6').text(data.PF_esperado6);
                $('#PF_esperado7').text(data.PF_esperado7);
                $('#sum_PF_esperado').text(data.sum_PF_esperado);
                $('#Qty_USDT_SubPosicion').text(data.Qty_USDT_SubPosicion);
                $('#sum_Qty_USDT_SubPosicion').text(data.sum_Qty_USDT_SubPosicion);
                $('#Qty_mVar1').text(data.Qty_mVar1);
                $('#Qty_mVar2').text(data.Qty_mVar2);
                $('#Qty_mVar3').text(data.Qty_mVar3);
                $('#Qty_mVar4').text(data.Qty_mVar4);
                $('#Qty_mVar5').text(data.Qty_mVar5);
                $('#Qty_mVar6').text(data.Qty_mVar6);
                $('#Qty_mVar7').text(data.Qty_mVar7);
                $('#sum_Qty_mVar').text(data.sum_Qty_mVar);
                $('#perc_SubSL').text(data.perc_SubSL);
                $('#valor_SubSL').text(data.valor_SubSL);
                $('#T4_valorperdida').text(data.T4_valorperdida);
                $('#T5_valorperdida').text(data.T5_valorperdida);
                $('#T6_valorperdida').text(data.T6_valorperdida);
                $('#T4_percperdida').text(data.T4_percperdida);
                $('#T5_percperdida').text(data.T5_percperdida);
                $('#T6_percperdida').text(data.T6_percperdida);
                $('#T4_MaxUSDTQty').text(data.T4_MaxUSDTQty);
                $('#T5_MaxUSDTQty').text(data.T5_MaxUSDTQty);
                $('#T6_MaxUSDTQty').text(data.T6_MaxUSDTQty);
               

                
                
                })
        }           
        setInterval(actualizarDatos, 200);
    </script>


    <script>
        const csvURL = '/static/datos.csv';
    
        function cargarCSV() {
            fetch(csvURL)
                .then(response => response.text())
                .then(csvData => {
                    // Parsear el CSV usando PapaParse
                    Papa.parse(csvData, {
                        header: false,
                        skipEmptyLines: true,
                        complete: function(results) {
                            const data = results.data;
                            const tableBody = document.getElementById("tableBody");
    
                            // Iterar sobre cada fila de datos en el CSV
                            data.forEach(row => {
                                // Crear una nueva fila en la tabla
                                const tr = document.createElement("tr");
    
                                // Añadir celdas a la fila con las variables en la posición deseada
                                tr.innerHTML = `   <td>
                                <table class="interna">
                                    <tbody>
                                        <tr>
                                            <td>${row[0]}</td>
                                            <td>PE</td>
                                            <td>PS</td>
                                            <td>PnL SL</td>
                                            <td>Dif %</td>
                                            <td>TP</td>
                                            <td>Pnl TP</td>
                                            <td>TP Price</td>
                                            <td>TP P Ej</td>
                                            <td>Apertura</td>
                                            <td>Cierre</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>${row[1]}</td>
                                            <td>${row[2]}</td>
                                            <td>${row[3]}</td>
                                            <td>${row[4]}</td>
                                            <td>${row[5]}</td>
                                            <td>${row[6]}</td>
                                            <td>${row[7]}</td>
                                            <td>${row[8]}</td>
                                            <td>${row[9]}</td>
                                            <td>${row[10]}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>`
                                   
    
                                // Añadir la fila a la tabla
                                tableBody.appendChild(tr);
                            });
                        }
                    });
                })
                .catch(error => console.error('Error al cargar el archivo CSV:', error));
        }
    
        // Llamar a la función para cargar el CSV cuando la página esté lista
        document.addEventListener('DOMContentLoaded', cargarCSV);
    </script>

</body>
</html>
